*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#about-us{
    padding-top: 10%;
    img{
        width: 450px;
    }
    .about-text{
        padding: 18px;
        h5{
            letter-spacing:9px;
            color: #007bff;;
        }
        h1{
            color: #22395d;;
            span{
                color: #007bff;;
            }
            font-weight: 700;
        }
        p{
            color: #818491;;
        }
    }
    

}