*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#navbar {

    a {
        text-decoration: none;
        color: #fff;
    }

    width: 100%;
    height: 70px;
    background-color: darkblue;
    .head-main{
        width: 130px;
        background-color: skyblue;
        height: 62px;
        a{
            h1{
                font-size: 3 rem;
            }
        }
    }
}